{% extends "layout.html" %}

{% block content %}
	<main class="about-section">
		<div class="container">
			<h2>About Page for this Website</h2>
			<p>In learning Flask, I am trying to build an app which helps users find new places around them.<br /> With this app you can find new places whenever you like and or explore new places of interest wherever you are.</p>
			<p>I am trying to implement everything from the Lynda Course about Learning Flask before building anything of my own.</p>
		</div>
	</main>

{% endblock %}